@font-face {
	font-family: 'GolosTextWebVF';
	src: 
		url('fonts/golos-text_vf.woff2') format('woff2'),
		url('fonts/golos-text_vf.woff') format('woff');

}

@font-face {
	font-family: 'GolosUIWebVF';
	src: 
		url('fonts/golos-ui_vf.woff2') format('woff2'),
		url('fonts/golos-ui_vf.woff') format('woff');

}

:root{
    --laptop-breakpoint: 1440px;
    --tablet-l-breakpoint: 1024px;
    --tablet-s-breakpoint: 768px;
    --mobile-l-breakpoint: 425px;
    --mobile-s-breakpoint: 325px;
	--black: #000000;
	--white: #FFFFFF;
	--sapphire: #0F52BA;
	--grey: #666666;
	--white30: #5786CF;
	--white70: #B7CBEA; 
	--white90: #E7EDF8;
	-webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
}


h1{
    font-family: 'GolosTextWebVF', sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
}

h2{
	font-family: 'GolosTextWebVF', sans-serif;
	font-weight: 600;
	font-size: 48px;
	line-height: 120%;
}

h3{
	font-family: 'GolosTextWebVF', sans-serif;
	font-weight: 500;
	font-size: 36px;
	line-height: 120%;
}

.text{
	font-family: 'GolosUIWebVF', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 120%;
}

.text--big{
	font-size: 28px;
}

.text--small{
	font-size: 16px;
}

a{
	font-family: 'GolosUIWebVF', sans-serif;
}

/* buttons */

.btn{
	text-decoration: none;
	font-weight: 500;
	font-size: 18px;
	line-height: 120%;
}

.btn--dark{
	color: var(--black);
	transition: color 0.2s;
}

.btn--dark:hover{
	color: var(--grey);
}

.btn--sapphire{
	color: var(--white);
	background-color: var(--sapphire);
	border-radius: 8px;
	display: flex;
	padding: 18px 36px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	transition: background-color 0.2s;
	border: var(--white30) 1px solid;
}

.btn--sapphire:hover{
	background-color: var(--white30);
}

.btn--white30{
	color: var(--white);
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(20px);
	border: var(--white30) 1px solid;
	border-radius: 8px;
	display: flex;
	padding: 18px 36px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	transition: background-color 0.2s, color 0.2s;
}

.btn--white30:hover{
	background-color: var(--white);
	color: var(--black);
}

.btn--white{
	color: var(--white70);
	transition: color 0.2s;
}

.btn--white:hover{
	color: var(--white30);
}

input[type="text"]{
	box-sizing: border-box;
	display: flex;
	padding: 18.5px 24px;
	align-items: center;
	gap: 10px;
	border-radius: 8px;
	border: 1px solid rgba(0, 0, 0, 0.20);
	background: var(--white);
	font-family: 'GolosUIWebVF', sans-serif;
	color: var(--black);
	width: 100%;
}

input[type="submit"]
{
	border: var(--white30) 1px solid;
	font-family: 'GolosUIWebVF', sans-serif;
}


@media screen and (max-width: 1440px) {
	h1{
		font-size: 56px;
	}
	h2{
		font-size: 40px;
	}
	h3{
		font-size: 32px;
	}
}
@media screen and (max-width: 1024px) {
	h1 {
		font-size: 48px;
	}
	h2{
		font-size: 30px;
	}
	h3{
		font-size: 26px;
	}
	.text--big{
		font-size: 22px;
	}
}
@media screen and (max-width: 768px) {
	h1{
		font-size: 36px;
	}
	h2{
		font-size: 30px;
	}
	h3{
		font-size: 26px;
	}
}
@media screen and (max-width: 480px) {
	h1{
		font-size: 30px;
	}
	h2{
		font-size: 28px;
	}
	h3{
		font-size: 26px;
	}
	p{
		font-size: 18px;
	}
	.text--big{
		font-size: 20px;
	}
	
}
@media screen and (max-width: 380px) {
	h1{
		font-size: 24px;
	}
	h2{
		font-size: 22px;
	}
	h3{
		font-size: 20px;
	}
	.text{
		font-size: 16px;
	}

}