/* Hero */

.hero{
    position: relative;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    gap: 0;
    background: linear-gradient(0deg, #0F52BA00 20%, #0F52BA 60%);
    padding: 128px 0 0 0;
}

.hero__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 0 64px;
}

.hero__header{
    max-width: 950px;
}

.hero__text{
    max-width: 700px;
    margin: 0 0 16px 0;
}

/* .hero__video{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: contain;
    z-index: -1;
} */

.hero__video{
    position: absolute;
    bottom: 0;
    z-index: -1;
    object-fit: cover;
}

/* Services */

.services{
    padding: 128px 64px 64px 64px;
    box-sizing: border-box;

}

.services__grid{
    display: grid;
    width: 100%;
    row-gap: 64px;
    column-gap: 32px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 2fr;
    color: var(--black);
}

.services__info{
    position: sticky;
    text-align: left;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 24px;
    grid-column: 1;
    grid-row: 1;
    z-index: 2;
    height: min-content;
    align-self: start;
    top: 35vh;      
    background-color: var(--white);    
}


.services__info--bottom{
    position: absolute;
    bottom: 0px;
    transform: none;
}

.services__info-text{
    max-width: 450px;
}

.services__blocks{
    display: flex;
    flex-direction: column;
    gap: 32px;
    grid-column: 2;
    grid-row: 1;
}

.services__card{
    color: var(--white);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 560px;
    padding: 32px;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
    border-radius: 16px;
    background: var(--sapphire);
}

.services__card-header{
    max-width: 350px;
}

.services__card-text{
    max-width: 400px;
}

.services__card--ship{
    background: linear-gradient(90deg, #0F52BA 0%, rgba(15, 82, 186, 0.00) 100%), url(images/photos/ship.jpg) lightgray 50% / cover no-repeat;
}

.services__card--train{
    background: linear-gradient(90deg, #0F52BA 0%, rgba(15, 82, 186, 0.00) 100%), url(images/photos/train.jpg) lightgray 50% / cover no-repeat;
}


.services__card--truck{
    background: linear-gradient(90deg, #0F52BA 0%, rgba(15, 82, 186, 0.00) 100%), url(images/photos/truck.jpg) lightgray 50% / cover no-repeat;
}

@media screen and (max-width: 1024px) {
    .hero{
        background: linear-gradient(0deg, #0F52BA00 0%, #0F52BA 40%);
    }
    .hero__info{
        padding: 32px;
    }
    .hero__header{
        max-width: 730px;
    }

    .services{
        padding: 128px 32px 64px 32px;
    }

    .services__grid{
        grid-template-columns: 1fr 1fr;
    }
    
}


@media screen and (max-width: 768px) {
    
    .hero__header{
        max-width: 576px;
    }
    .services__grid{
        display: flex;
        flex-direction: column;
    }
    .services__info{
        top: 0;
        padding: 96px 0 32px 0;
    }

    
}

@media screen and (max-width: 425px) {
    .hero{
        background: linear-gradient(0deg, #0F52BA00 0%, #0F52BA 60%);
    }
    .hero__info{
        padding: 16px;
    }
    .services{
        padding: 128px 16px 64px 16px;
    }
    /* .hero__video{
        object-fit: contain;
        width: 800px;
        left: 50%;
        transform: translate(-50%, 0);
    } */
}

    
    
