/* Hero */

.hero{
    position: relative;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    gap: 0;
    background: #0F52BA;
    padding: 20vh 0 0 0;
    margin: 0;
    overflow: hidden;
    clip-path: inset(0px);
}

.hero__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 0 64px;
}

.hero__header{
    width: 950px;
}

.hero__text{
    width: 850px;
    margin: 0 0 5vh 0;
}

.hero__bg{
    position: absolute;
    width: 101%;
    bottom: 0;
    z-index: -2;
    left: 50%;
    transform: translate(-50%, 0);
    height: 100%;
   
}

.hero__video{
    position: absolute;
    bottom: 0;
    object-fit: contain;
    height: 40%;
    width: fit-content;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: center;
}

.hero__video--cover{
    width: 100%;
}

.hero__video > video{
    object-fit: contain;
    max-height: 100%;
}

.hero__video--cover > video{
    object-fit: cover;
    width: 100%;
}

.hero__gradient{
    background: linear-gradient(180deg, #0f53ba 0%, rgba(15, 83, 186, 0) 50%);
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 3;

}



/* @media screen and (min-height: 600px){
    .hero__video{
        height: 80%;
    }
    
}

@media screen and (min-height: 740px){
    .hero__video{
        height: 100%;
    }
    
}

@media screen and (min-height: 1000px) {
    .hero__video{
        height: 120%;
    }
    
} */

/* Services */

.services{
    padding: 0px 64px 64px 64px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 128px;
    scroll-margin-top: 128px

}

.services__grid{
    display: flex;
    width: 100%;
    gap: 64px;
    color: var(--black);
    
}

.services__info{
    position: sticky;
    text-align: left;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 24px;
    z-index: 2;
    height: min-content;
    align-self: start;
    top: 35vh;      
    background-color: var(--white);    
    width: 700px;
}

.services__info-text{
    width: 500px;
    
}

.services__blocks{
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}

.services__card{
    position: relative;
    color: var(--white);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    height: 512px;
    padding: 32px;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    border-radius: 16px;
    background: var(--sapphire);
    overflow: hidden;
}

.services__card-header{
    display: flex;
    gap: 24px;
    z-index: 1;
    width: 700px;
}

.services__header > h2{
    text-wrap: balance;
}

.services__card-icon{
    width: 64px;
}

.services__card-text{
    width: 650px;
    z-index: 1;
    overflow: hidden;
}

.services__card--ship{
    background: linear-gradient(180deg, #0f53ba88 0%, rgba(15, 82, 186, 0.00) 100%), url(images/photos/ship.jpg) lightgray 50% / cover no-repeat;
}

.services__card--train{
    background: linear-gradient(180deg, #0f53ba88 0%, rgba(15, 82, 186, 0.00) 100%), url(images/photos/train.jpg) lightgray 50% / cover no-repeat;
}

.services__card--truck{
    background: linear-gradient(180deg, #0f53ba88 0%, rgba(15, 82, 186, 0.00) 100%), url(images/photos/truck.jpg) lightgray 50% / cover no-repeat;
}

.services__card-overlay{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 16px;
    width: 100%;
    height: 100%;
    background: var(--white30);
    opacity: 1;
}

.services__card-ellipses{
    position: absolute;
    object-fit: cover;
    width: 120%;
    height: 130%;
    bottom: 0;
    right: -10%;
    opacity: 1;
}

.advantages{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    position: relative;
}

.advantages__map{
    position: relative;
    display: flex;
    box-sizing: border-box;
    max-height: 800px;
    height: 736px;
    padding: 48px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    border-radius: 16px;
    text-align: center;
    background: var(--white90);
    clip-path: padding-box;
    overflow: hidden;
}

.advantages__map-header{

    z-index: 2;
    width: 800px;
}

.advantages__map-text{
    width: 1000px;
    z-index: 2;
}

.advantages__map-image-wrapper{
    position: absolute;
    bottom: 0;
    width: 95%;
    height: 40vw;
    object-fit: contain;
}

.advantages__map-image{
    position: absolute;
    bottom: -25%;
    left: 50%;
    transform: translate(-50%, 0);
    object-fit: contain;
    width: 100%;
    height: 100%;

}

@keyframes tracking-size {
    0% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1.2);
    }

    75% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1, 1);
    }
    
}

.advantages__tracking{
    position: absolute;
    display: flex;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    background-color: var(--white);
    border-radius: 8px 8px 8px 0;
    z-index: 3;
    transition: transform 0.5s ease-out;
}

.advantages__tracking--ship{
    bottom: 56%;
    left: 16%;
}

.advantages__tracking--truck{
    bottom: 25%;
    right: 15%;
}

.advantages__tracking--train{
    bottom: 15%;
    left: 40%;
}

.advantages__tracking-corner{
    position: absolute;
    bottom: -50px;
    left: 0;
}

.advantages__tracking-text{
    display: flex;
    gap: 4px;
    color: var(--white30);
}

.advantages__tracking-text > p{
    font-size: 18px;
}

.advantages__tracking-animation{
    position: relative;
    display: flex;
    align-items: center;
}

.advantages__tracking-icon{
    height: 40px;
}

@keyframes map-gradient {
    0% {
        transform: translateX(-400%);
    }

    25% {
        transform: translateX(-400%);
    }
    75% {
        transform: translateX(400%);
    }

    100%{
        transform: translateX(400%);
    }
}

.advantages__map-gradient{
    position: absolute;
    top: 0;
    z-index: 1;
    width: 20%;
    height: 110%;
    background: linear-gradient(90deg,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%);
    animation: map-gradient 6s linear infinite;
}

@keyframes tracking-animation {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }



    99% {
        transform: scale(5, 5);
        opacity: 0;
    }
}



.advantages__tracking-animation > img:nth-child(1){
    transform: scale(0, 0);
}

.advantages__tracking-animation > img:nth-child(2){
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}



.advantages__block{
    display: flex;
    box-sizing: border-box;
    gap: 32px;
    width: 100%;
    position: relative;
    
}

/* .advantages__bg{
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
} */

.advantages__card{
    display: flex;
    width: 100%;  
    box-sizing: border-box;
    min-width: 0;
    height: 576px;
    padding: 32px;
    flex-direction: column;
    background: rgba(111, 151, 214, 0.50);
    backdrop-filter: blur(8px);
    border: var(--white70) 1px solid;
    border-radius: 16px;
    justify-content: space-between;
    z-index: 1;
}

.advantages__card-info{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 0 32px 0;
    z-index: 1;
    max-width: 300px;
    
}

.advantages__image{
    position: absolute;
    bottom: -50px;
    width: 85%; 
    height: 70%; 
    object-fit: contain;
    z-index: 1;
}

.about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 128px 0 0 0;
    gap: 128px;
}

.about-us__story{
    position: relative;
    padding: 0 64px 0 32vw;
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 32px;
    align-self: stretch;
}

.about-us__logo{
    position: absolute;
    left: 32px;
    width: 30vw;
    top: -50px;
    z-index: -2;
    height: min-content;
    align-self: start;
    background-color: var(--white);
}

.about-us__header{
    max-width: 800px;
}

.about-us__text{
    max-width: 800px;
}


@keyframes scroll-image {
    from { transform: translateX(0%); }
    to { transform: translateX(-100%); }
}

.about-us__carousel{
    display: flex;  
    max-width: 100%;
    overflow: hidden;
}


.about-us__carousel-scroll-part{
    display: flex;
    animation: scroll-image 20s linear infinite;
}

.about-us__carousel-photo{
    width: 504px;
    object-fit: cover;
    aspect-ratio: 1/1;
    border-radius: 16px;
    margin: 16px;
}

@media screen and (max-width: 1440px) {
    

    .hero__bg{
        width: 150%;
    }
    .hero__header{
        width: 850px;
    }

    .services{
        padding: 0px 32px 64px 32px;
    }

    .services__info{
        width: 410px;
    }

    .services__info-text{
        width: 400px;
    }

    .services__grid{
        gap: 64px;
    }

    .services__card{
        height: 480px;
    }


    .services__card-header{
        gap: 16px;
        width: 300px;
    }


    .services__card-text{
        width: 300px;
    }

    .advantages__map{
        height: 512px;
    }

    .advantages__tracking--ship{
        bottom: 57%;
    }

    .advantages__tracking-icon{
        height: 24px;
    }

    .advantages__tracking-text > p{
        font-size: 14px;
    }
    

    .advantages__card{
        padding: 24px;
        height: 480px;
    }

    .advantages__card-info{
        width: 270px;
    }

    .advantages__card-info > h3{
        max-width: 250px;
    }


    .advantages__image{
        width: 80%;
    }

    .about-us__story{
            padding: 0 32px 0 32vw;
    }
    .about-us__text{
        max-width: 700px;
    }
    
    .about-us__header{
        width: 600px;
    }

    .about-us__carousel-photo{
        width: 400px;
    }

}



@media screen and (max-width: 1024px) {

    .hero__info{
        padding: 0 32px;
    }
    .hero__header{
        width: 725px;
    }

    .hero__text{
       width: 800px;
    }

    .hero__bg{
        width: 200%;
    }

    .services{
        padding: 0px 32px 64px 32px;
    }

    .services__grid{
        gap: 32px;
    }

    .services__info{
        width: 300px;
        gap: 16px;
    }

    .services__card-header{
        width: 270px;
    }

    .services__card-text{
       width: 300px;
    }

    .services__card{
        height: 480px;
    }

    .services__info-text{
        max-width: 350px;
        text-wrap: balance;
    }

    .services__card-icon{
        width: 48px;
    }

    .advantages__map{
        padding: 32px;
        height: 512px;
    }

    .advantages__map-header{
        width: 300px;
    }

    .advantages__map-text{
        width: 280px;
    }


    .advantages__tracking-icon{
        height: 16px;
    }

    .advantages__tracking--ship{
        bottom: 60%;
    }


    .advantages__block{
        flex-direction: column;
    }
    .advantages__card{
        width: auto;
        flex-direction: row;
        height: 272px;
        padding: 32px;
        overflow: visible;
    }
    
    .advantages__image{
        right: 16px;
        width: 50%;
        height: 120%;
        bottom: -100px;
    }
    
    .about-us__logo{
        width: 19vw;
        top: 0;
    }

    .about-us__text{
        max-width: 500px;
    }

    .about-us__story{
        padding: 0 32px 0 24vw;
    }


    .about-us__carousel-photo{
        width: 300px;
    }


}


@media screen and (max-width: 768px) {
    .hero{
        margin: 0 0 0 0;
    }

    .hero__header{
        width: 100%;
        max-width: 550px;
    }

    .hero__text{
        width: 100%;
        max-width: 500px;
        text-wrap: balance;
    }


    .services__grid{
        display: flex;
        flex-direction: column;
    }

    .services__info{
        width: 100%;
    }

    .services__header{
        width: 400px;
    }

    .services__info-text{
        width: 800px;
    }

    .services__card{
        height: 480px;
        gap: 16px;
    }

    .services__card--ship{
    background: linear-gradient(180deg, #0f53ba88 0%, rgba(15, 82, 186, 0.00) 100%), url(images/photos/ship.jpg) lightgray 50% / cover no-repeat;
    }

    .services__card--train{
    background: linear-gradient(180deg, #0f53ba88 0%, rgba(15, 82, 186, 0.00) 100%), url(images/photos/train.jpg) lightgray 50% / cover no-repeat;
    }

.services__card--truck{
    background: linear-gradient(180deg, #0f53ba88 0%, rgba(15, 82, 186, 0.00) 100%), url(images/photos/truck.jpg) lightgray 50% / cover no-repeat;
    }



    .services__info{
        top: 0;
        padding: 72px 0 32px 0;
    }

    .advantages__map{
        height: 480px;
    }

    .advantages__map-image{
        width: 110%;
        height: 110%;
    }

    .advantages__map-image-wrapper{
        bottom: 10%;
    }

    .advantages__tracking{
        padding: 8px;
    }

    .advantages__tracking-corner{
        height: 32px;
        bottom: -32px;
    }

    .advantages__tracking--truck{
        right: 6%;
        bottom: 30%;
    }

    .advantages__tracking--train{
        bottom: 25%;
        left: 35%;
    }

    .advantages__tracking--ship{
        bottom: 67%;
        left: 12%;
    }

    .advantages__tracking-icon{
        height: 12px;
    }
    
.advantages__card-info{
    width: 270px;
}

        .advantages__card{
        height: 414px;
    }

    .advantages__image{
        height: 80%;
        width: 90%;
        bottom: -100px;
    }

    .about-us__text{
        max-width: 400px;
    }

    .about-us__header{
        max-width: 300px;
    }

    
}

@media screen and (max-width: 480px) {

    .hero__info{
        padding: 0 16px;
    }

.hero__text{
        width: 300px;
}
    .services{
        padding: 0px 16px 64px 16px;
    }

    .services__card{
        height: 360px;
    }

    .services__info-text{
        width: 400px;
    }

    .services__header{
        width: 300px;
    }

    .advantages__map{
        height: 400px
    }

    .advantages__map-image{
        width: 110%;
        height: 110%;
    }

    .advantages__map-header{
        width: 250px;
    }

    .about-us{
        gap: 64px;
    }

    .about-us__story{
        padding: 0 16px;
    }

    .about-us__header{
        padding: 0 0 0 20vw;
    }

    .about-us__logo{
        width: 15vw;
        left: 16px;
    }

    .about-us__carousel-photo{
        width: 200px;
        margin: 8px;
    }

    .advantages__tracking-text > p{
        font-size: 12px;
    }

    .advantages__tracking-animation > img{
        height: 8px;
    }

    .advantages__card{
        height: 414px;
    }

    .advantages__image{
        height: 80%;
        width: 90%;
        bottom: -100px;
    }

    .about-us__header{
        max-width: 250px;
    }





}

    
@media screen and (max-width: 380px) {

    .services__card-header{
        width: 240px;
    }

    .services__header{
        width: 240px;
    }

    .hero__text{
        width: 200px;
    }
    
    .services__card-text{
        width: 270px;
    }
    .services__info-text{
        width: 300px;
    }

    .advantages__map-header{
        width: 200px;
    }

    .advantages__map-text{
        width: 250px;
        
}

    .advantages__card{
        height: 360px;
    }

    .advantages__card-info{
        width: 240px;
    }

    .advantages__image{
        height: 70%;
        bottom: -75px;
    }

    .about-us__header{
        max-width: 200px;
    }
}