.navigation{
    position: fixed;
    top: 0px;
    z-index: 5;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 72px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 64px;
    background-color: var(--white);
}

.navigation__logo{
    height: 48px;
}

.navigation__list{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    gap: 64px;
}

.navigation__side-menu{
    display: flex;
    gap: 32px;
    align-items: center;
}

.navigation__menu-button{
    cursor: pointer;
    width: 32px;
    display: none;
    transition: filter 0.2s;
}

.navigation__menu-button:hover{
    filter: invert(40%);
}


.collapse-menu{
    position: fixed;
    top: 0px;
    right: 0px;
    width: 200px;
    height: 100vh;
    background-color: var(--white);
    z-index: 10;
    padding: 64px 16px;
    transform: translateX(100%);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: flex-start;
}

.collapse-menu--active{
    transform: translateX(0);
    
}

.collapse-menu__list{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
}

.collapse-menu__close-button{
    position: absolute;
    top: 32px;
    right: 32px;
    width: 24px;
    cursor: pointer;
    transition: filter 0.2s;
}

.collapse-menu__close-button:hover{
    filter: invert(40%);
}

.collapse-menu__overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

.collapse-menu__overlay--active{
    opacity: 1;
    pointer-events: auto;
}

.modal-form{
    position: fixed;
    display: flex;
    box-sizing: border-box;
    width: 720px;
    height: 562px;
    padding: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    background-color: var(--white);
    z-index: 10;
    border-radius: 16px;
    opacity: 0;
    transition: opacity 0.1s;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.modal-form--active{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    pointer-events: auto;
}

.modal-form__close-button{
    position: absolute;
    top: 32px;
    right: 32px;
    width: 24px;
    cursor: pointer;
    transition: filter 0.2s;
}

.modal-form__close-button:hover{
    filter: invert(40%);
}

.modal-form__inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    width: fit-content;
}

.modal-form__checkbox{
    display: flex;
    gap: 16px;
}

.modal-form__overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s;
}

.modal-form__overlay--active{
    opacity: 1;
    pointer-events: auto;
}

@media screen and (max-width: 1440px) {
    .navigation__list{
        gap: 32px;
    }
}

@media screen and (max-width: 1024px) {
    .navigation{
        padding: 0px 32px;
    }

    .navigation__logo{
        height: 40px;
    }

    .navigation__list{
        display: none;
    }
    .navigation__menu-button{
        display: block;
    }

    .modal-form{
        width: 402px;
    }
}

@media screen and (max-width: 768px) {
    .navigation{
        height: 64px;
    }

    .navigation__side-menu{
        gap: 16px;
    }

    
    .navigation__cta{
        display: none;
    }
    
}

@media screen and (max-width: 480px) {
    .navigation{
        padding: 0px 16px;
    }

    .collapse-menu__close-button{
        top: 20px;
        right: 20px;
    }

    .modal-form{
        width: 100%;
        height: 800px;
    }

    .modal-form__overlay{
        background-color: var(--white);
    }


}